<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="xml"/>
                </listeners>
            </source>
            <source name="System.IO.Log">
                <listeners>
                    <add name="xml"/>
                </listeners>
            </source>
            <source name="System.Runtime.Serialization">
                <listeners>
                    <add name="xml"/>
                </listeners>
            </source>
        </sources>

        <sharedListeners>
            <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </sharedListeners>
    </system.diagnostics>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <system.serviceModel>
        <protocolMapping>
            <add scheme="http" binding="netHttpBinding"/>
            <add scheme="http" binding="customBinding" bindingConfiguration="textWSHttpBinding"/>
        </protocolMapping>

        <bindings>
            <netTcpBinding>
                <binding name ="netTcpBinding"></binding>
            </netTcpBinding>
            <netHttpBinding>
                <binding name="netHttpBinding" messageEncoding="Text">
                    <webSocketSettings transportUsage="Always"/>
                </binding>
            </netHttpBinding>
            <customBinding>
                <binding name="textWSHttpBinding">
                    <byteStreamMessageEncoding/>
                    <httpTransport>
                        <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
                    </httpTransport>
                </binding>
            </customBinding>
        </bindings>

        <services>
            <service name="DuplexWCF.Service.DuplexService" behaviorConfiguration="BasicService">
                <endpoint name="netTcpBindingDuplexService" address="net.tcp://127.0.0.1:3124/DuplexService" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="DuplexWCF.Service.IDuplexService"/>
                <endpoint name="netHttpBindingDuplexService" address="http://127.0.0.1:3123/DuplexService" binding="netHttpBinding" bindingConfiguration="netHttpBinding" contract="DuplexWCF.Service.IDuplexService"/>
                <endpoint name="textWSHttpBinding" address="http://127.0.0.1:3122/DuplexService" binding="customBinding" bindingConfiguration="textWSHttpBinding" contract="DuplexWCF.Service.IDuplexService"/>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="BasicService"></behavior>
            </serviceBehaviors>
        </behaviors>

    </system.serviceModel>
</configuration>