<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <system.serviceModel>

        <bindings>
            <netTcpBinding>
                <binding name ="netTcpBinding"></binding>
            </netTcpBinding>
        </bindings>

        <services>
            <service name="DuplexWCF.Service.DuplexService" behaviorConfiguration="BasicService">
                <endpoint name="netTcpBindingDuplexService" address="net.tcp://127.0.0.1:3124/DuplexService" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="DuplexWCF.Service.IDuplexService"/>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="BasicService"></behavior>
            </serviceBehaviors>
        </behaviors>

    </system.serviceModel>
</configuration>