<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name ="netTcpBindingBasic"></binding>
      </netTcpBinding>
    </bindings>

    <services>

      <service name="DuplexWCF.Service.Service" behaviorConfiguration="BasicService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3123"/>
          </baseAddresses>
        </host>
        <endpoint name="netTcpBindingService" address="Service" binding="netTcpBinding" bindingConfiguration="netTcpBindingBasic" contract="DuplexWCF.Service.IService"/>
      </service>

      <service name="DuplexWCF.Service.DuplexService" behaviorConfiguration="BasicService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3123"/>
          </baseAddresses>
        </host>
        <endpoint name="netTcpBindingDuplexService" address="DuplexService" binding="netTcpBinding" bindingConfiguration="netTcpBindingBasic" contract="DuplexWCF.Service.IDuplexService"/>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicService"></behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>